<form action="/home/create" method="post">
	title: <input type="text" name="title"><br>
	content: <input type="text" name="content"><br>
	<input type="submit" value="submit!"><hr>
</form>


<% @all_post.each do |a| %>
	<strong>제목:</strong> <%= a.title %><br>
	<strong>내용:</strong> <%= a.content %><br>
	<div class="jumbotron">
		<strong>댓글</strong><br><br>
		<% a.replies.each do |r| %>
			<%= r.content %><br>
		<% end %>
		<form action="/home/reply_create" method="post">
			<input type="text" name="content">
			<input type="hidden" name="id_of_post" value="<%=a.id%>">
			<button type="submit">댓글달기!</button>
		</form>
	</div>

<% end %>
